body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body {
  background-image: url('https://media.tenor.com/f0cKyHniahEAAAAd/background-khaoticfuture.gif');
  background-color: black;
  color: rgb(255, 255, 255);
}

.w3-bar-item {
      font-size: 24px;
    }

    .justify {
        text-align: justify;
      }  
  
      #lightbox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1000;
      }
    
      #lightbox-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        cursor: pointer;
      }
     