body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body {
  background-image: url('https://media.tenor.com/f0cKyHniahEAAAAd/background-khaoticfuture.gif');
  background-color: black;
  color: rgb(255, 255, 255);
}

.w3-bar-item {
      font-size: 24px;
    }

    .justify {
        text-align: justify;
      }  